# Data Science Tools and Ecosystem

## Author
Felicia Tofan

**Objectives:**

* to use markdowns for creating Jupyter Notebook lab
* to list popular languages for Data Science
* to list commonly used libraries for Data Science
* to list basic Data Science Tools
* to apply arithmetic experions

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. NumPy
4. SeaBorn
5. SciPy

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Git |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335